@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <div class="align-items-center">
            <img src="https://media1.giphy.com/media/3o7bu3XilJ5BOiSGic/200w.webp?cid=ecf05e47nq66k9gnul3vq5j6yjmfucbmjbuubt52c7eoww4r&ep=v1_gifs_search&rid=200w.webp&ct=g" />
        </div>
    }
    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}


@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;
}
